name: Initial Setup

on:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create folders and files
        run: |
          mkdir -p src data media scripts
          echo "# main entry point" > src/main.py
          touch requirements.txt

      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add .
          git commit -m "Initial project structure"
          git push
